a, a:active {
	text-decoration: none; 
	color: blue;
}
a:visited {
	text-decoration: none; 
	color: #48468F;
}
a:hover, a:focus {
	text-decoration: underline; 
	color: red;
}
body {
	background-color: white;
}
h2 {
	margin-bottom: 1em;
	font-family: sans-serif;
}
table {
	border-top: 1px solid #646464;
	border-bottom: 1px solid #646464;
	padding-top: 1em;
	padding-bottom: 1.5em;
}
tr:nth-child(odd) {
	background-color: rgb(247, 247, 247);
}
th, td {
	font-family: monospace; 
	text-align: left;
}
th {
	font-family: sans-serif;
	font-weight: bold; 
	padding-right: 1em; 
	padding-bottom: 0.3em;
}
td, th {
	padding-left: 0.75em;
	padding-right: 0.75em;
}
td.s, th.s {
	text-align: right;
}
address {
	padding-top: 1em;
}
