* {
	position:relative;
}
body{
	font-family: sans-serif;
}

#downloadprogress details{
	margin-left:1em;
}

#downloadprogress details.leaf summary::-webkit-details-marker{
	color:transparent;
}

#downloadprogress summary>span{
	position:absolute;
	z-index: 1;
	font-weight: bolder;
	padding:0.1em;
	text-shadow: 0 0 0.1em black;
	color:white;
	margin:0.3em;
	margin-left:3em;
}

#downloadprogress progress[value]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 90%;
	height: 2em;
	border:0.1em solid black;
	border-radius:1em;
}

#downloadprogress progress[value]::-webkit-progress-bar { 
	background-color:transparent;
}

#downloadprogress progress[value]::-webkit-progress-value { 
	z-index: -1;
	background-color:steelblue;
	border:0.1em solid white;
	border-radius:1em;
	color:black;
}
#downloadprogress output[name='label']::before{
	content: none;
}
#downloadprogress output[name='label']::after{
	content: " \2026 ";
}
#downloadprogress output[name='complete_count']::after{
	content: " of ";
}
#downloadprogress output[name='pct_count']::before{
	content: " (";
}
#downloadprogress output[name='pct_count']::after{
	content: "%)";
}
